@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: "Literata";
    src: url("../fonts/Literata/Literata/Literata-VariableFont_opsz\,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Literata";
    src: url("../fonts/Literata/Literata/Literata-Italic-VariableFont_opsz\,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
}

:is(dir, menu, ol, ul) ul {
    list-style-type: none;
    font-family: Montserrat;
    font-weight: 300;
    font-style: Medium;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 2%;
    vertical-align: middle;
    text-decoration: none;
    color: #6F6F6F;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    // border: 1px solid red;
}

.logo {
    width: 120px;
    height: 120px;
}

.header {
    margin-top: 30px;

    &__container {
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
    }

    &__menu {
        width: 100%;
        margin-left: 60px;

        &-list {
            margin-left: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            height: 36px;
            cursor: pointer;

            &__dropdown {
                cursor: pointer;

                &__menu {
                    position: absolute;
                    width: 250px;
                    background-color: #2F80ED;
                    border-radius: 10px;
                    display: none;
                    z-index: 3;
                    cursor: pointer;
                    margin-top: 2px;

                    &-list {
                        width: 96%;
                        background-color: #ffffff;
                        margin: 5px;
                        padding: 10px;
                        border-radius: 10px;
                        cursor: pointer;

                        &__link {
                            font-family: Montserrat;
                            font-weight: 400;
                            font-style: Medium;
                            font-size: 24px;
                            line-height: 100%;
                            letter-spacing: 2%;
                            vertical-align: middle;
                            text-decoration: none;
                            color: #2F80ED;
                            margin-top: 10px;
                            cursor: pointer;
                        }
                    }
                }
            }

            &__dropdown:hover>&__dropdown__menu {
                display: initial;
            }

        }

        &-link {
            font-family: Montserrat;
            font-weight: 500;
            font-style: Medium;
            font-size: 26px;
            line-height: 100%;
            letter-spacing: 2%;
            vertical-align: middle;
            text-decoration: none;
            color: #6F6F6F;
            cursor: pointer;
            display: flex;
            align-items: center;
        }

        &__dropdown:hover &__link {
            border-bottom: #2F80ED;
            cursor: pointer;
        }

        &-line {
            margin: 4px auto 0;
            height: 3px;
            width: 100%;
            background-color: #2F80ED;
            border-radius: 3px;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.3s linear;
        }

        li:hover &-line {
            transform: scaleX(1);
        }
    }
}

.intro {

    &__layer {

        &-text {
            font-family: Montserrat;
            font-weight: 500;
            font-style: Medium;
            font-size: 26px;
            line-height: 100%;
            letter-spacing: -2%;
            vertical-align: middle;
            color: #6F6F6F;
        }

        &--big-img {
            width: 300px;
            height: 300px;
        }

        &--min-img {
            width: 100px;
            height: 100px;
        }

        &--br-img {
            border-radius: 50%;
        }

        &--one {
            margin-top: 160px;
            display: flex;
            justify-content: space-between;


            &-title {
                font-family: Montserrat;
                font-weight: 700;
                font-style: Bold;
                font-size: 46px;
                line-height: 80px;
                letter-spacing: 2%;
                vertical-align: middle;
                text-transform: uppercase;
                color: #0F62FE;
                max-width: 413px;
            }

            &-text {
                max-width: 390px;
            }
        }

        &--two {
            display: flex;
            justify-content: center;
            margin-top: 17px;

            &-text {
                max-width: 373px;
            }
        }

        &--three {
            position: absolute;
            top: 210px;
            left: 533px;
        }

        &--box1 {
            display: flex;

            &-min {
                margin-left: 350px;
                margin-top: 210px;
            }
        }

        &--box2 {
            display: flex;
            flex-direction: row;

            &-big {
                margin-top: 20px;
                margin-left: 450px;
            }

            &-min {
                margin-top: 235px;
                margin-left: -820px;
            }
        }

        &--box3 {
            position: absolute;
            top: 677px;
            left: 661px;
        }

        &--btn {
            font-family: Montserrat;
            font-weight: 400;
            font-style: Regular;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: -2%;
            color: #333333;
            padding: 16px 29.24px;
            background-color: #E5F0FA;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            margin-top: 50px;
        }

        &--btn:hover {
            transition: .8s all ease;
            background-color: #2F80ED;
            color: #FFFFFF;
        }

        &--horizontal-title {
            font-family: Montserrat;
            width: 371px;
            height: 60px;
            position: absolute;
            top: 708px;
            left: 1205px;
            bottom: 64px;
            transform: rotate(-90deg);
        }

        &--horizontal-title h1 {
            font-family: Montserrat;
            font-weight: 700;
            font-style: Bold;
            font-size: 24px;
            line-height: 60px;
            letter-spacing: 2%;
            vertical-align: middle;
            text-transform: uppercase;
            color: #0F62FE;
        }

        &--hc {
            width: 510px;
            height: 1024px;
            background-color: #F6F9FC;
            z-index: -1;
            position: absolute;
            top: 0;
            left: 653px;
        }
    }
}

.faq {
    margin-top: 197px;
    background-color: #E5F0FA;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-family: Montserrat;
        margin-top: 118px;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 56px;
        line-height: 100%;
        letter-spacing: -2%;
        vertical-align: middle;
        text-transform: uppercase;
        color: #1D1D1D;
    }

    &__box {
        margin-bottom: 162px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__block {
            margin-top: 40px;
            height: 115px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
            border-radius: 30px;
            border-left: 10px solid #0F62FE;

            &__wrapper {
                width: 80%;
                padding: 20px 0 20px 50px;

                &--text {
                    font-family: Inter;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 36px;
                    line-height: 75px;
                    letter-spacing: 0%;
                    vertical-align: middle;
                    color: #333333;
                }
            }

            &__btn {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                border: 1px solid #0F62FE;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 23px 50px;
            }
        }
    }
}

/// /// /// /// START PAGES /// /// /// ///
.pages-banner {
    margin-top: 30px;
    height: 460px;

    &__container {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &__left {
            position: absolute;
            top: 180px;
            left: 0;
            width: 828px;
            height: 460px;
            // background-color: red;
            z-index: 1;
            border-radius: 20px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 20px;
                border: 1px solid #0F62FE;
            }
        }

        &__right {
            width: 710px;
            height: 340px;
            border-radius: 20px;
            border: 1px solid #0F62FE;
            background-color: #ffffff;
            margin: 60px 0;
            z-index: 1;

            &--title {
                font-family: Literata;
                font-weight: 700;
                font-style: Bold;
                font-size: 48px;
                line-height: 69px;
                letter-spacing: 2%;
                vertical-align: middle;
                text-transform: uppercase;
                color: #0F62FE;
            }

            &--text {
                font-family: Montserrat;
                font-weight: 400;
                font-style: Regular;
                font-size: 24px;
                line-height: 100%;
                letter-spacing: -2%;
                vertical-align: middle;
                color: #6F6F6F;
                width: 434px;
            }

            &--top-left {
                margin-top: 40px;
                margin-left: 60px;
            }
        }
    }
}

.services {
    &__container {
        display: flex;
        flex-direction: column;
        background-color: #F6F9FC;
        border-radius: 20px;
        margin-bottom: 120px;
        
        &--pages {
            margin-top: 120px;
        }

        &--services {
            margin-top: 60px;
        }

        &__block {
            background-color: #FFFFFF;
            border-radius: 20px;
            width: 100%;
            height: auto;
            margin-top: 20px;
            display: flex;
            flex-flow: row wrap;
            align-items: center;

            &__icon {
                width: 40px;
                height: 54px;
                border-radius: 12px;
                background-color: #E5F0FA;
                margin: 23px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 30px;
                    height: 30px;
                }
            }

            &__icon-yellow {
                background-color: #FFECC5;
            }

            &__icon-green {
                background-color: #E8F8D0;
            }

            &__num {
                width: 27px;
                height: 24px;
                font-family: Montserrat;
                font-weight: 500;
                font-style: Medium;
                font-size: 20px;
                line-height: 100%;
                letter-spacing: -2%;
                vertical-align: middle;
                color: #6F6F6F;
                margin-left: 17px;
            }

            &__text {
                font-family: Literata;
                font-weight: 400;
                font-style: Regular;
                font-size: 30px;
                line-height: 40px;
                letter-spacing: -2%;
                vertical-align: middle;
                color: #333333;
                margin-left: 20px;
                width: 70%;
            }

            &__dropdown {
                &__btn {
                    width: 221px;
                    height: 40px;
                    border-radius: 100px;
                    margin-right: 30px;
                    border: none;
                    background-color: #F6F9FC;
                    font-family: Montserrat;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: -2%;
                    vertical-align: middle;
                    color: #6F6F6F;
                    cursor: pointer;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px 20px;
                    list-style: none;

                    &__arrow {
                        transition: transform 0.3s ease;
                    }
                }

                &__box {
                    width: 768px;
                    height: 558px;
                    margin-top: 17px;
                    max-height: 0;
                    overflow: hidden;
                    margin-top: 0;
                    opacity: 0;
                    transition: max-height 0.45s ease, margin-top 0.3s ease, opacity 0.3s ease;

                    &__subtext {
                        margin-top: 20px;
                        margin-left: 40px;

                        &__title {
                            font-family: Literata;
                            font-weight: 400;
                            font-style: Regular;
                            font-size: 18px;
                            line-height: 40px;
                            letter-spacing: 1%;
                            vertical-align: middle;
                            color: #000000;
                            width: 373px;
                        }

                        &__list {
                            margin-top: 6px;

                            &__text {
                                font-family: Montserrat;
                                font-weight: 400;
                                font-style: Regular;
                                font-size: 14px;
                                line-height: 20px;
                                letter-spacing: 0%;
                                vertical-align: middle;
                                color: #333333;

                                &::marker {
                                    content: '🔹';
                                }

                                &__marker::marker {
                                    content: '💠';
                                }
                            }
                        }
                    }

                    &__btn {
                        width: 192px;
                        height: 60px;
                        background-color: #2F80ED;
                        border-radius: 100px;
                        border: none;

                        font-family: Montserrat;
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 24px;
                        line-height: 20px;
                        letter-spacing: -2%;
                        vertical-align: middle;
                        color: #FFFFFF;
                        margin: 50px 40px 50px 1126px;
                    }
                }
            }
        }
    }
}

/// /// /// /// END PAGES /// /// /// ///
/// /// /// /// START SEVICES /// /// /// ///
.hero {
    &__container {
        height: 460px;
        display: flex;
        align-items: center;
        justify-content: space-between;


        &__box-left {

            &__title {
                font-family: Literata;
                font-weight: 700;
                font-style: Bold;
                font-size: 48px;
                line-height: 69px;
                letter-spacing: 2%;
                vertical-align: middle;
                text-transform: uppercase;
                color: #0F62FE;
            }

            &__subtext {
                width: 428px;
                margin-top: 30px;
                font-family: Literata;
                font-weight: 400;
                font-style: Regular;
                font-size: 30px;
                line-height: 40px;
                letter-spacing: -2%;
                vertical-align: middle;
                color: #333333;
            }
        }

        &__box-right {
            width: 437px;
            height: 240px;
            border-radius: 20px;
            background-color: #E5F0FA;

            img {
                width: 100%;
                height: 100%;
                border-radius: 20px;
            }
        }
    }
}

/// /// /// /// END SEVICES /// /// /// ///
.footer {
    background-color: #05173D;
    width: 100% !important;

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__box {
        margin-top: 50px;

        &__top {
            display: flex;
            justify-content: space-between;

            &__nav {
                display: flex;
                flex-direction: column;

                &__title {
                    font-family: Montserrat;
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 20px;
                    line-height: 100%;
                    letter-spacing: -2%;
                    vertical-align: middle;
                    color: #F6F9FC;
                    text-decoration: none;
                }

                &__list {
                    margin-top: 20px;
                    width: 254px;
                    display: flex;
                    flex-direction: column;

                    &__link {
                        font-family: Montserrat;
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 18px;
                        line-height: 100%;
                        letter-spacing: -2%;
                        vertical-align: middle;
                        color: #F6F9FC;
                        margin-bottom: 12px;
                        text-decoration: none;

                    }
                }

                &__social-media {
                    margin-top: 20px;
                    width: 132px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &-link {
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }

        &__center {
            width: 100%;
            display: flex;
            justify-content: space-between;

            &__left {
                font-family: Montserrat;
                font-weight: 400;
                font-style: Regular;
                font-size: 216px;
                line-height: 100%;
                letter-spacing: -2%;
                vertical-align: middle;
                text-transform: uppercase;
                color: #F6F9FC;

            }

            &__right {
                font-family: Montserrat;
                font-weight: 600;
                font-style: SemiBold;
                font-size: 216px;
                line-height: 100%;
                letter-spacing: -2%;
                vertical-align: middle;
                text-transform: uppercase;
                color: #F6F9FC;
            }
        }

        &__hr {
            margin-top: 20px;
            width: 100%;
            background-color: #F6F9FC;
        }

        &__bottom {
            margin-top: 40px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            &__text {
                font-family: Montserrat;
                font-weight: 400;
                font-style: Regular;
                font-size: 24px;
                line-height: 100%;
                letter-spacing: -2%;
                vertical-align: middle;
                color: #FFFFFF;

            }
        }
    }
}

.services__container__block__dropdown[open] .services__container__block__dropdown__btn__arrow {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.services__container__block__dropdown[open]+.services__container__block__dropdown__box {
    max-height: 1000px;
    margin-top: 17px;
    opacity: 1
}