<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Cleaning Kiki Osh</title>
</head>

<body>

    <header class="header">
        <div class="container header__container">
            <a class="header__logo" href="../index.html" id="header__logo">
                <img class="logo" src="../static/img/footer-logo.png"
                    alt="Логотип клининговой компании Cleaning Kiki Osh">
            </a>
            <nav class="header__menu">
                <ul class="header__menu-list">
                    <li class="header__menu-list__dropdown">
                        <a class="header__menu-link" href="#">Кафе</a>
                        <div class="header__menu-line"></div>
                        <ul class="header__menu-list__dropdown__menu">
                            <li class="header__menu-list__dropdown__menu-list">
                                <a class="header__menu-list__dropdown__menu-list__link" href="./services.html">Кафе</a>
                            </li>
                            <li class="header__menu-list__dropdown__menu-list">
                                <a class="header__menu-list__dropdown__menu-list__link"
                                    href="./services.html">Рестораны</a>
                            </li>
                            <li class="header__menu-list__dropdown__menu-list">
                                <a class="header__menu-list__dropdown__menu-list__link" href="./services.html">Офисные
                                    помещения</a>
                            </li>
                            <li class="header__menu-list__dropdown__menu-list">
                                <a class="header__menu-list__dropdown__menu-list__link" href="./services.html">Дом</a>
                            </li>
                            <li class="header__menu-list__dropdown__menu-list">
                                <a class="header__menu-list__dropdown__menu-list__link"
                                    href="./services.html">Квартира</a>
                            </li>
                        </ul>
                    </li>
                    <li class="header__menu-list__dropdown">
                        <a class="header__menu-link" href="#">Рестораны</a>
                        <div class="header__menu-line"></div>
                        <ul class="header__menu-list__dropdown__menu">
                            <li class="header__menu-list__dropdown__menu-list">
                                <a class="header__menu-list__dropdown__menu-list__link" href="./services.html">Кафе</a>
                            </li>
                            <li class="header__menu-list__dropdown__menu-list">
                                <a class="header__menu-list__dropdown__menu-list__link"
                                    href="./services.html">Рестораны</a>
                            </li>
                            <li class="header__menu-list__dropdown__menu-list">
                                <a class="header__menu-list__dropdown__menu-list__link" href="./services.html">Офисные
                                    помещения</a>
                            </li>
                            <li class="header__menu-list__dropdown__menu-list">
                                <a class="header__menu-list__dropdown__menu-list__link" href="./services.html">Дом</a>
                            </li>
                            <li class="header__menu-list__dropdown__menu-list">
                                <a class="header__menu-list__dropdown__menu-list__link"
                                    href="./services.html">Квартира</a>
                            </li>
                        </ul>
                    </li>
                    <li class="header__menu-list__dropdown">
                        <a class="header__menu-link" href="#">Офисные помещения</a>
                        <div class="header__menu-line"></div>
                        <ul class="header__menu-list__dropdown__menu">
                            <li class="header__menu-list__dropdown__menu-list">
                                <a class="header__menu-list__dropdown__menu-list__link" href="./services.html">Кафе</a>
                            </li>
                            <li class="header__menu-list__dropdown__menu-list">
                                <a class="header__menu-list__dropdown__menu-list__link"
                                    href="./services.html">Рестораны</a>
                            </li>
                            <li class="header__menu-list__dropdown__menu-list">
                                <a class="header__menu-list__dropdown__menu-list__link" href="./services.html">Офисные
                                    помещения</a>
                            </li>
                            <li class="header__menu-list__dropdown__menu-list">
                                <a class="header__menu-list__dropdown__menu-list__link" href="./services.html">Дом</a>
                            </li>
                            <li class="header__menu-list__dropdown__menu-list">
                                <a class="header__menu-list__dropdown__menu-list__link"
                                    href="./services.html">Квартира</a>
                            </li>
                        </ul>
                    </li>
                    <li class="header__menu-list__dropdown">
                        <a class="header__menu-link" href="#">Дом</a>
                        <div class="header__menu-line"></div>
                        <ul class="header__menu-list__dropdown__menu">
                            <li class="header__menu-list__dropdown__menu-list">
                                <a class="header__menu-list__dropdown__menu-list__link" href="./services.html">Кафе</a>
                            </li>
                            <li class="header__menu-list__dropdown__menu-list">
                                <a class="header__menu-list__dropdown__menu-list__link"
                                    href="./services.html">Рестораны</a>
                            </li>
                            <li class="header__menu-list__dropdown__menu-list">
                                <a class="header__menu-list__dropdown__menu-list__link" href="./services.html">Офисные
                                    помещения</a>
                            </li>
                            <li class="header__menu-list__dropdown__menu-list">
                                <a class="header__menu-list__dropdown__menu-list__link" href="./services.html">Дом</a>
                            </li>
                            <li class="header__menu-list__dropdown__menu-list">
                                <a class="header__menu-list__dropdown__menu-list__link"
                                    href="./services.html">Квартира</a>
                            </li>
                        </ul>
                    </li>
                    <li class="header__menu-list__dropdown">
                        <a class="header__menu-link" href="#">Квартира</a>
                        <div class="header__menu-line"></div>
                        <ul class="header__menu-list__dropdown__menu">
                            <li class="header__menu-list__dropdown__menu-list">
                                <a class="header__menu-list__dropdown__menu-list__link" href="./services.html">Кафе</a>
                            </li>
                            <li class="header__menu-list__dropdown__menu-list">
                                <a class="header__menu-list__dropdown__menu-list__link"
                                    href="./services.html">Рестораны</a>
                            </li>
                            <li class="header__menu-list__dropdown__menu-list">
                                <a class="header__menu-list__dropdown__menu-list__link" href="./services.html">Офисные
                                    помещения</a>
                            </li>
                            <li class="header__menu-list__dropdown__menu-list">
                                <a class="header__menu-list__dropdown__menu-list__link" href="./services.html">Дом</a>
                            </li>
                            <li class="header__menu-list__dropdown__menu-list">
                                <a class="header__menu-list__dropdown__menu-list__link"
                                    href="./services.html">Квартира</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>


    <main class="main">
        <section class="pages-banner">
            <div class="container pages-banner__container">
                <div class="pages-banner__container__left">
                    <img src="https://static.wixstatic.com/media/d0f0ac8bc8324c58aa5f0178375516be.jpeg/v1/fill/w_640,h_656,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/d0f0ac8bc8324c58aa5f0178375516be.jpeg"
                        alt="Клиниговая компания Cleaning Kiki Osh — профессиональная уборка в Оше">
                </div>
                <div class="pages-banner__container__right">
                    <h2 class="pages-banner__container__right--title  pages-banner__container__right--top-left">
                        кафе/Рестораны</h2>
                    <p class="pages-banner__container__right--text pages-banner__container__right--top-left">Список
                        услуг для данного типа объекта </p>
                </div>
            </div>
        </section>
        <section class="services">
            <div class="container services__container services__container--pages">
                <div class="services__container__block">
                    <div class="services__container__block__icon services__container__block__icon-green">
                        <img src="../static/icon/pages/brooms.png" alt="page/171">
                    </div>
                    <div class="services__container__block__num">01/</div>
                    <div class="services__container__block__text">Регулярная (поддерживающая) уборка</div>
                    <details class="services__container__block__dropdown">
                        <summary class="services__container__block__dropdown__btn">Читать подробнее
                            <img src="../static/icon/arrow.png" alt="page/services/button" class="services__container__block__dropdown__btn__arrow">
                        </summary>
                    </details>
                    <div class="services__container__block__dropdown__box">
                        <div class="services__container__block__dropdown__box__subtext">
                            <div class="services__container__block__dropdown__box__subtext__title">Регулярная
                                (поддерживающая)
                                уборка:</div>
                            <ul class="services__container__block__dropdown__box__subtext__list">
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                            </ul>
                            <div class="services__container__block__dropdown__box__subtext__title">Регулярная
                                (поддерживающая)
                                уборка:</div>
                            <ul class="services__container__block__dropdown__box__subtext__list">
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                            </ul>
                            <div class="services__container__block__dropdown__box__subtext__title">Регулярная
                                (поддерживающая)
                                уборка:</div>
                            <ul class="services__container__block__dropdown__box__subtext__list">
                                <li class="services__container__block__dropdown__box__subtext__list__text 
                                           services__container__block__dropdown__box__subtext__list__text__marker">
                                    Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text 
                                           services__container__block__dropdown__box__subtext__list__text__marker">
                                    Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text 
                                           services__container__block__dropdown__box__subtext__list__text__marker">
                                    Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                            </ul>
                        </div>
                        <button class="services__container__block__dropdown__box__btn">Заказать</button>
                    </div>
                </div>
                <div class="services__container__block">
                    <div class="services__container__block__icon services__container__block__icon-yellow">
                        <img src="../static/icon/pages/bucket.png" alt="page/171">
                    </div>
                    <div class="services__container__block__num">01/</div>
                    <div class="services__container__block__text">Регулярная (поддерживающая) уборка</div>
                    <details class="services__container__block__dropdown">
                        <summary class="services__container__block__dropdown__btn">Читать подробнее
                            <img src="../static/icon/arrow.png" alt="page/services/button" class="services__container__block__dropdown__btn__arrow">
                        </summary>
                    </details>
                    <div class="services__container__block__dropdown__box">
                        <div class="services__container__block__dropdown__box__subtext">
                            <div class="services__container__block__dropdown__box__subtext__title">Регулярная
                                (поддерживающая)
                                уборка:</div>
                            <ul class="services__container__block__dropdown__box__subtext__list">
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                            </ul>
                            <div class="services__container__block__dropdown__box__subtext__title">Регулярная
                                (поддерживающая)
                                уборка:</div>
                            <ul class="services__container__block__dropdown__box__subtext__list">
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                            </ul>
                            <div class="services__container__block__dropdown__box__subtext__title">Регулярная
                                (поддерживающая)
                                уборка:</div>
                            <ul class="services__container__block__dropdown__box__subtext__list">
                                <li class="services__container__block__dropdown__box__subtext__list__text 
                                           services__container__block__dropdown__box__subtext__list__text__marker">
                                    Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text 
                                           services__container__block__dropdown__box__subtext__list__text__marker">
                                    Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text 
                                           services__container__block__dropdown__box__subtext__list__text__marker">
                                    Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                            </ul>
                        </div>
                        <button class="services__container__block__dropdown__box__btn">Заказать</button>
                    </div>
                </div>
                <div class="services__container__block">
                    <div class="services__container__block__icon services__container__block__icon">
                        <img src="../static/icon/pages/vacuum-cleaner.png" alt="page/171">
                    </div>
                    <div class="services__container__block__num">03/</div>
                    <div class="services__container__block__text">Специализированные услуги</div>
                    <details class="services__container__block__dropdown">
                        <summary class="services__container__block__dropdown__btn">Читать подробнее
                            <img src="../static/icon/arrow.png" alt="page/services/button" class="services__container__block__dropdown__btn__arrow">
                        </summary>
                    </details>
                    <div class="services__container__block__dropdown__box">
                        <div class="services__container__block__dropdown__box__subtext">
                            <div class="services__container__block__dropdown__box__subtext__title">Регулярная
                                (поддерживающая)
                                уборка:</div>
                            <ul class="services__container__block__dropdown__box__subtext__list">
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                            </ul>
                            <div class="services__container__block__dropdown__box__subtext__title">Регулярная
                                (поддерживающая)
                                уборка:</div>
                            <ul class="services__container__block__dropdown__box__subtext__list">
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text">Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                            </ul>
                            <div class="services__container__block__dropdown__box__subtext__title">Регулярная
                                (поддерживающая)
                                уборка:</div>
                            <ul class="services__container__block__dropdown__box__subtext__list">
                                <li class="services__container__block__dropdown__box__subtext__list__text 
                                           services__container__block__dropdown__box__subtext__list__text__marker">
                                    Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text 
                                           services__container__block__dropdown__box__subtext__list__text__marker">
                                    Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                                <li class="services__container__block__dropdown__box__subtext__list__text 
                                           services__container__block__dropdown__box__subtext__list__text__marker">
                                    Мытьё и
                                    дезинфекция
                                    санузлов с поддержанием чистоты (пополнение расходных материалов)</li>
                            </ul>
                        </div>
                        <button class="services__container__block__dropdown__box__btn">Заказать</button>
                    </div>
                </div>
               
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container footer__container">
            <div class="footer__box">
                <div class="footer__box__top">
                    <a href="#header__logo">
                        <img class="logo" src="../static/img/footer-logo.png"
                            alt="Логотип клининговой компании Cleaning Kiki Osh">
                    </a>
                    <nav class="footer__box__top__nav">
                        <p class="footer__box__top__nav__title">Организации:</p>
                        <ul class="footer__box__top__nav__list">
                            <a href="#" class="footer__box__top__nav__list__link">Кафе</a>
                            <a href="#" class="footer__box__top__nav__list__link">Рестораны</a>
                            <a href="#" class="footer__box__top__nav__list__link">Офисные помещения</a>
                            <a href="#" class="footer__box__top__nav__list__link">Подписка</a>
                            <a href="#" class="footer__box__top__nav__list__link">Студийные залы</a>
                        </ul>
                    </nav>
                    <nav class="footer__box__top__nav">
                        <p class="footer__box__top__nav__title">Контакты:</p>
                        <ul class="footer__box__top__nav__list">
                            <a href="#" class="footer__box__top__nav__list__link">Телефон: +996 (xxx) xxx-xxx</a>
                            <a href="#" class="footer__box__top__nav__list__link">Email: info@example.com</a>
                            <a href="#" class="footer__box__top__nav__list__link">Адрес (опционально): г. Ош, ул.
                                Ленина, 45</a>
                        </ul>
                    </nav>
                    <nav class="footer__box__top__nav">
                        <p class="footer__box__top__nav__title">Социальные сети:</p>
                        <ul class="footer__box__top__nav__social-media">
                            <a href="#" class="footer__box__top__nav__social-media">
                                <img src="../static/icon/footer/inst.png" alt="Instagram Cleaning Kiki Osh">
                            </a>
                            <a href="#" class="footer__box__top__nav__social-media">
                                <img src="../static/icon/footer/tg.png" alt="Telegram Cleaning Kiki Osh">
                            </a>
                            <a href="#" class="footer__box__top__nav__social-media">
                                <img src="../static/icon/footer/wa.png" alt="WhatsApp Cleaning Kiki Osh">
                            </a>
                        </ul>
                    </nav>
                </div>
                <div class="footer__box__center">
                    <h1 class="footer__box__center__left">мы</h1>
                    <h1 class="footer__box__center__right">рядом</h1>
                </div>
                <hr class="footer__box__hr">
                <div class="footer__box__bottom">
                    <p class="footer__box__bottom__text">© 2025. Все права защищены. Политика конфиденциальности.</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>